@import 'tailwindcss';

@theme {
  --color-primary: #3B0270;
  --color-primaryActive: #6F00FF;
  --color-primarySecond: #E9B3FB;
  --color-primaryDark: #491379;
}

html {
  background-color: #3B0270;
  width: 100vw;
  overflow-x: hidden;
}
